
.title{
    color: rgb(39, 97, 189);
    margin-left:17% ;
}
img{
    width: 100px;
    height: 80px;
}
button{
    width: 95%;
    margin: 20px 20px 20px 20px;
    
}
th, td {
    padding: 10px;
  }