.userPic{
    width:50px ;
    height: 50px;
    border-radius: 50%;
    object-fit:fill;
}
.applicant{
    font-size: small;

}
.cardBorder{
    border: 2px solid whitesmoke;
    height: 70px;
    padding: 10px;
    margin-bottom: 5px;

}
.size{
    font-size: 16px;
}